.home_container {
  section {
    .video_wrapper {
      position: relative;
      height: 500px;
      overflow: hidden;
      .video_text {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        @media (max-width: 600px) {
          justify-content: space-around;
        }
        div {
          p {
            color: red;
          }
        }
        button {
        }
      }
    }
    video {
      top: 50%;
      transform: translate(0, -50%);
      position: relative;
      width: 100%;
      object-fit: cover;
    }
  }
}
